<footer role="contentinfo">
  <p>Projeto realizado por <strong>Vitor Moreno</strong>&nbsp; | &nbsp;<a href="https://www.linkedin.com/in/vitor-moreno-7377051b/" target="_blank">Linkedin</a></p>
</footer>